* {
    box-sizing: border-box;
}

html {
    font-family: 'Helvetica', sans-serif;
    background-color: rgb(249, 253, 245);
}

.header { /* the business name, tabs and search engine */
    background-color: rgb(186, 231, 144);
    float: left;
    width: 100%;
    /*padding: 1%;*/
    /*margin: 0% 2%;*/
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    position: relative;
    margin-bottom: 3%;
}

.heading {
    /* background-color: aqua; */
    float: left;
    margin: 0% 2%;
}

#name {
    font-size: 2.5em;
    color: crimson;
    text-align: center;
    /* background-color: blueviolet; */
    cursor: pointer;
    text-shadow:
		-1px -1px 0 #FEE11A,
		1px -1px 0 #FEE11A,
		-1px 1px 0 #FEE11A,
		1px 1px 0 #FEE11A;
} /* text-shadow: h-shadow v-shadow blur-radius color|none|initial|inherit; */

#name:active {
    text-decoration: underline;
    color: antiquewhite;
}

.tabs {
    /* background-color: cornflowerblue; */
    width: 12%;
    height: 100%;
    text-align: center;
    /* padding-left: 1%; */
    float: left;
    margin-top: 2.25%;
    /* border: 1px solid black; */
    font-size: x-large;
}

.links {
    font-weight: bold;
    color: darkgreen;
    text-decoration: none;
}

.links:hover {
    /*background-color: yellow;*/
    color: rgb(121, 184, 121);
    /*box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
    cursor: pointer;
}

.links:active {
    /*background-color: yellow;*/
    color: rgb(18, 241, 18);
    /*box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
    cursor: pointer;
}

.search { /*search bar thingy?*/
    /* background-color: deeppink; */
    text-align: center;
    height: 10%;
    width: 25%;
    float: left;
    margin-left: 2%;
    margin-top: 1.5%;
    /*border: 2px solid darkgrey;*/
    /*border-bottom: 2px solid darkgrey;*/
}

.search input[type=text] {
    float: left;
    border: none;
    margin: 5%;
    font-size: 17px;
    height: 40%;
    width: 60%;
    border: 2px solid darkgrey;
  }

  .submit { /*the search icon*/
    float: left;
    font-size: 1em;
    margin-top: 5.5%;
    margin-left: 1%;
    background: none;
    border: 0px;
    color: black;
    background-color:  white;
    width: 20%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    cursor: pointer;
}

#home {
    background-color: aquamarine;
    float: left;
    width: 100%;
    text-align: center;
    color: darkgreen;
    font-size: large;
}

#greeting {
    text-align: center;
    color: darkgreen;
}

/* PRODUCTS PAGE */
#products {
    background-color: blue;
    float: left;
    width: 100%;
    text-align: center;
    color: darkgreen;
    font-size: large;
    display: none;
}

/* LOCATIONS PAGE */
#location {
    background-color: palevioletred;
    float: left;
    width: 100%;
    text-align: center;
    color: darkred;
    font-size: large;
    display: none;
}

/* LOCATIONS PAGE */
#news {
    background-color: blueviolet;
    float: left;
    width: 100%;
    text-align: center;
    color: yellow;
    font-size: large;
    display: none;
}

/* LOCATIONS PAGE */
#guest {
    background-color: gold;
    float: left;
    width: 100%;
    text-align: center;
    color: darkred;
    font-size: large;
    display: none;
}

/* RESPONSIVE SCREENS */
@media screen and (max-width: 1300px) {
    .body {
        width: 900px;
    }

    .search { /*search bar thingy?*/
        background-color: deeppink;
        text-align: center;
        height: 10%;
        width: 23%;
        float: left;
        margin-left: 2%;
        margin-top: 1.5%;
        /*border: 2px solid darkgrey;*/
        /*border-bottom: 2px solid darkgrey;*/
    }
}
