* {
    box-sizing: border-box;
}

html {
    font-family: 'Helvetica', sans-serif;
    background-color: rgb(236, 250, 248);
}

header {
    background-color: rgb(159, 208, 253);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    height: 10%;
    text-align: center;
    color: rgb(227, 246, 253); 
    /* font-size: xx-large; */
    padding: 1%;
    text-shadow: 2px 2px rgb(127, 170, 184);
    float: left;
    width: 100%;
    margin-bottom: 2%;
}

#month {
    /* background-color: aqua; */
    height: 50%;
    width: 100%;
    float: left;
    /* border: 1px solid #000000; */
    text-align: center;
    margin-bottom: 2%;
}

#daily {
    background-color: rgb(145, 151, 241);
    border: 1px solid #000000;
    height: 50%;
    width: 100%;
    float: left;
    text-align: center;
}

#news td{
    border-right: 1px solid black;
}

#news th {
    border: 1px solid black;
}

#news {
    width: 100%;
    border: 1px solid black;
}

/* #infograph {
    background-color: blueviolet;
} */